{% extends "base.html" %}

{% block title %}Admin Dashboard - License Manager{% endblock %}

{% block content %}


<!-- Users Table -->
<div class="table-container">
    <div class="table-header">
        <div class="table-title">Manage Users</div>
        <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal">
            <i class="fas fa-plus"></i> Add User
        </button> -->
    </div>
    <div class="table-responsive">
        <table class="table" id="users-table" style="display: none;">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filled by JS -->
            </tbody>
            <!-- No Data State for Users -->
            <div id="users-no-data" class="no-data">
                <div class="no-data-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="no-data-title">No Users Found</div>
                <div class="no-data-description">
                    Any other users are not registered to this site.
                </div>
            </div>        
        </table>
    </div>
    <!-- Users Pagination -->
    <nav>
        <ul class="pagination justify-content-center" id="users-pagination">
            <!-- Filled by JS -->
        </ul>
    </nav>
    
{% endblock %}
